/* For rtl */
body {
    direction: rtl;
    text-align: right;
    /* Aligns text to the right */
}

.container {
    padding-right: 20px;
    /* Adjust padding for RTL */
    padding-left: 0;
    /* Ensure no extra padding on the left */
}

.text-align-right {
    text-align: right;
    /* Align text to the right */
}

.text-align-left {
    text-align: left;
    /* Align text to the left, even in RTL */
}

.float-left {
    float: left;
    /* Float elements to the left */
}

.float-right {
    float: right;
    /* Float elements to the right */
}

/* Styling for menu items */
.menu-item {
    /* margin-bottom: 10px; */
    cursor: pointer;
}

/* Hide submenu by default */
.submenu {
    display: none;
    margin-right: 15px;
}

/* Visible submenu */
.submenu.active {
    display: block;
}

/* Styling for submenu items */
.submenu-item {
    margin: 5px 0;
}

/* Basic Styles */
/*header layout*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    
  } */
.header {
    position: fixed;
    /* or sticky */
    width: 100%;
    /* background-color: #333; */
    /* padding: 1rem; */
    padding: 10px 0;
    /* Adjust padding as needed */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* flex-wrap: wrap; */
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* Spread content across the header */
    align-items: flex-start;
    /* Align items at the top */
}

.header-content {
    /* display: flex;
    justify-content: space-between; */

    margin-bottom: 10px;
    /* Add some space between logos and hamburger */
    /* width: 250px; */
}

.logo {
    width: 80px;
    height: auto;
    /* Keep aspect ratio */
}

.header-text {
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0 30px;
    padding: 10px 0;
    /* Space between the logos and text */
    background-image: url("./Photos/Picture_1.jpg");



}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* .logo {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
   */


/* .logo img {
        max-height: 140px;
} */


.main {
    display: flex;
    width: 100%;
}

/* .sidebar {
    background-color: #444;
    color: white;
    width: 250px;
    flex-shrink: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px; 
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.sidebar .submenu {
    display: none;
    padding-left: 20px;
} */



.sidebar {
    width: 250px;
    position: fixed;

    top: 150px;
    bottom: 0;
    /* Extend sidebar to the bottom */
    background-color: #f8f9fa;
    padding-top: 20px;
    overflow-y: auto;
    /* Add vertical scrollbar */
    z-index: 1000;

}


.sidebar a,
.sidebar .submenu a {

    padding: 5px 10px;
    /* Reduce padding */
    font-size: 18px;
    margin: 0;
    /* Remove margin */
    display: block;
}

.sidebar .submenu a {

    padding: 5px 10px;
    /* Reduce padding */
    font-size: 14px;
    color: darkblue;
    margin: 0;
    /* Remove margin */
    display: block;
}

.sidebar .submenu {
    padding-right: 20px;

}

#home {
    
    
    scroll-margin-top: 150px; /* Offset to account for the header */
}

#home img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section {

    scroll-margin-top: 180px;
    /* Adjust this value to the height of your header */
    color: #3B5998;
}


.banner {
    width: 100%;
    height: auto;
    margin-top: 140px;
    margin-bottom: 50px;
    border-radius: 3%;
}


.content {
    margin-right: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    overflow-y: auto;
    /* Add vertical scrollbar to content */
    
}




/* main {
    margin-left: 250px; 
    padding: 20px;
    width: calc(100% - 250px); 
    flex-grow: 1;
    overflow: auto;
}

main img {
    max-width: 100%;
    height: auto;
} */

.hamburger {
    font-size: 36px;
    color: blue;
    cursor: pointer;
    display: none;
    margin-left: auto;
    /* Move it to the right */
}

#hamburger {

    top: 10px;
    /* Adjust the position from the top of the viewport */

    z-index: 1000;
    /* Ensure it stays above other elements */
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.ul {
    padding: 10px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
}

.ul:hover {
    opacity: 0.7;
}


.gallery-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    /* 1:1 Aspect Ratio */

}

.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the container while preserving aspect ratio */
}

.col-md-4 {
    padding: 5px;
    /* Space between columns */

}

.toggle-sidebar {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.logos {
    display: flex;
    flex-direction: row;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        justify-content: space-around;
        padding: 10px;

    }


    .header-text h3, h2, h1, h4{
        font-size: 120%;
        font-weight: bold;
        text-align: center;
        /* flex-grow: 1; */
        margin: 0 30px;
        padding: 10px 0;
        /* Space between the logos and text */
        background-image: url("./Photos/Background.jpg");

        /* height: 100px; */
    }
        .header-text h5{
        font-size: 100%;
        font-weight: bold;
        text-align: center;
        /* flex-grow: 1; */
        margin: 0 30px;
        padding: 10px 0;
        /* Space between the logos and text */
        background-image: url("./Photos/Background.jpg");

        /* height: 100px; */
    }
    
    #home {
        
        scroll-margin-top: 150px; /* Offset to account for the header */
        
    }
    #home img {
        width: 70%;
        margin-left: auto;
        margin-right: 80px;
        display: block;
    }

    .main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        /* position: relative; */
        padding-top: 0;
        transform: translateX(-100%);
        /* Sidebar hidden by default */
        transition: transform 0.3s ease;
        margin-top: 70px;
        /* Adjust this value to the height of your header */
    }

    .sidebar.active {
        transform: translateX(0);
        /* Sidebar visible when active */
    }



    .content {
        margin-right: 0;
        width: 100%;
        margin-top: 80px;
        
    }

    .section {

        scroll-margin-top: 230px;
        /* Adjust this value to the height of your header */
        color: #3B5998;
    }


    .hamburger {
        display: block;
    }


    .toggle-sidebar {
        display: block;
    }

    .logos {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 50px;
        height: auto;
        /* Keep aspect ratio */
    }


}